* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: #000000;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 3.125rem;
  font-weight: 700;
}

h2 {
  font-size: 1.6rem;
  font-weight: 400;
}

h2.title {
  font-size: 3rem;
  font-weight: 700;
}

h3.subtitle {
  font-size: 1.625rem;
  margin: 1.2rem 0;
  font-weight: 400;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  font-weight: 400;
}

button {
  display: inline-block;
  text-transform: uppercase;
  padding: 0.9rem 1.5rem;
  background-color: #e50914;
  color: #ffffff;
  border: none;
  font-size: 1.5rem;
  border-radius: 2px;
  cursor: pointer;
  border: 1px solid #e50914;
}

.btn--white {
  background-color: transparent;
  border: 2px solid #ffffff;
  padding: 0.7rem 1.3rem;
}

section {
  border-bottom: 5px solid #222222;
  padding: 4.375rem 2.5rem;
}

section {
  min-height: 50vh;
}

img {
  max-width: 100%;
  height: auto;
}

.intro-section {
  background: url("../../images/bg.jpg") no-repeat center center/cover;
  min-height: 100vh;
  padding-top: 1.2rem;
  position: relative;
}

.intro-section::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
}

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0;
  width: 90%;
  margin: auto;
}

.netflix-logo {
  width: 10rem;
  fill: #e50914;
  z-index: 2;
}

.intro-section__link {
  background-color: #e50914;
  padding: 0.5rem 1.5rem;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  z-index: 2;
}

.intro-section__content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  z-index: 2;
}

.intro-section__content-subtitle {
  margin: 1rem 0 2.5rem 0;
}

.intro-section__btn span {
  margin-left: 0.5rem;
}

/*300px to 500px*/
@media screen and (max-width: 35.81em) {
  .intro-section {
    min-height: 65vh;
  }
  .netflix-logo {
    width: 6rem;
  }
  .intro-section__link {
    padding: 0.2rem 0.8rem;
  }
  .intro-section__content {
    padding: 1.875rem;
    margin-top: 1.5rem;
    min-width: 90%;
  }
  .intro-section__content-subtitle {
    font-size: 1.3rem;
  }
  .intro-section__content-title {
    font-size: 1.7rem;
  }
  .intro-section__btn {
    font-size: 1rem;
    min-height: 2.5rem;
    padding: 0.5rem 0.8rem;
  }
}

.showcase-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.showcase-section__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-line-pack: center;
      align-content: center;
}

.showcase-section__txt-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 31.25rem;
          flex: 1 1 31.25rem;
}

.showcase-section__img-container {
  position: relative;
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 31.25rem;
          flex: 1 1 31.25rem;
}

.video-container {
  position: absolute;
  top: 20%;
  left: 12%;
  z-index: -1;
}

video {
  width: 100%;
  height: 100%;
  display: inline-block;
  vertical-align: baseline;
  -o-object-fit: contain;
     object-fit: contain;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.download-section__img-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 3rem;
}

.download-section__gif-container {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 10%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  min-height: 6.25rem;
  border-radius: 10px;
  padding: 0.5rem 0.75rem;
  background-color: #000000;
  border: 2px solid rgba(255, 255, 255, 0.25);
}

.download-section__gif-container-img {
  height: 6.25rem;
}

.gif-container_txt-para-1 {
  font-size: 1rem;
}

.gif-container_txt-para-2 {
  font-size: 0.9rem;
  color: #0071eb;
}
