.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.download-section__img-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 3rem;
}

.download-section__gif-container {
  position: absolute;
  left: 50%;
  bottom: 10%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 70%;
  min-height: auto;
  border-radius: 10px;
  padding: 0.5rem 0.75rem;
  background-color: #000000;
  border: 2px solid rgba(255, 255, 255, 0.25);
}

.download-section__gif-container-img {
  height: 6.25rem;
}

.gif-container_txt-para-1 {
  font-size: 1rem;
}

.gif-container_txt-para-2 {
  font-size: 0.9rem;
  color: #0071eb;
}

/*MEDIA QUERIS MAX-WIDTH:576PX  36em*/
@media screen and (max-width: 36em) {
  .download-section__txt-container {
    text-align: center;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .download-section__gif-container {
    min-height: auto;
  }
  .gif-container_txt-para-1 {
    font-size: 0.8rem;
  }
  .gif-container_txt-para-2 {
    font-size: 0.7rem;
  }
  .download-section__txt-container .btn--white {
    display: none;
  }
  .download-section__gif-container-img {
    height: auto;
  }
}
