.faq-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.faq-section__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 3rem;
  text-align: center;
}

.faq-section__container details {
  text-align: left;
  padding: 1rem;
  background-color: #303030;
  margin: 0.5rem;
  width: 50rem;
}

.faq-section__container details:last-of-type {
  margin-bottom: 0;
}

.faq-section__container details p {
  padding: 1.2rem 1rem;
  font-size: 1.6rem;
}

.faq-section__container summary {
  display: block;
}

/*MEDIA QUERIES FOR FAQ SECTION*/
/*MAX-WIDTH = 550x = 34.375em*/
@media (max-width: 35.9em) {
  .faq-section__container .title {
    margin: 1rem 0;
  }
  .faq-section__container details {
    width: 90vw;
    margin: 0.4rem 0;
  }
}

@media (min-width: 36em) and (max-width: 59.313em) {
  .faq-section__container details {
    width: 75vw;
  }
  .faq-section__container details summary p {
    padding: 1rem 0.8rem;
    font-size: 1.3rem;
  }
}
