.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-nav .nav-list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-nav .nav-list .nav-item {
  margin: 0.5rem 0;
}

.footer-nav .nav-list .nav-link {
  color: #a6a6a6;
  cursor: pointer;
  font-size: 0.8rem;
}

.footer-nav .nav-list .nav-link:hover {
  text-decoration: underline;
}

@media screen and (max-width: 36em) {
  .nav-list {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 33vw;
            flex: 1 1 33vw;
  }
  .nav-list .nav-item {
    text-align: center;
  }
}
