.showcase-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.showcase-section__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-line-pack: center;
      align-content: center;
}

.showcase-section__txt-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 31.25rem;
          flex: 1 1 31.25rem;
}

.showcase-section__img-container {
  position: relative;
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 31.25rem;
          flex: 1 1 31.25rem;
}

.video-container {
  position: absolute;
  top: 20%;
  left: 12%;
  z-index: -1;
}

.video-container video {
  width: 100%;
  height: 100%;
  display: inline-block;
  vertical-align: baseline;
  -o-object-fit: contain;
     object-fit: contain;
}

/*MEDIA QUERIS MAX-WIDTH:576PX  36em*/
@media screen and (max-width: 36em) {
  .showcase-section__btn {
    display: none;
  }
  .showcase-section__txt-container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

@media (min-width: 36em) and (max-width: 59.313em) {
  .showcase-section__txt-container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .showcase-section__txt-container .subtitle {
    margin-bottom: 0.5rem;
  }
}
