.container-test {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.watch-everywhere__img-container {
  position: relative;
  overflow: hidden;
}

.watch-everywhere__img-container .video-container-2 {
  position: absolute;
  top: 10%;
  left: 19%;
  z-index: -1;
}

.watch-everywhere__img-container .video-container-2 .video-test {
  max-width: 81%;
  max-height: 90%;
  display: inline-block;
  -o-object-fit: contain;
     object-fit: contain;
}
