/*300px to 500px*/

@media screen and (max-width: 35.81em) {
  .intro-section {
    min-height: 65vh;
  }

  .netflix-logo {
    width: 6rem;
  }

  .intro-section__link {
    padding: 0.2rem 0.8rem;
  }

  .intro-section__content {
    padding: 1.875rem;
    margin-top: 1.5rem;
    min-width: 90%;
  }
  .intro-section__content-subtitle {
    font-size: 1.3rem;
  }
  .intro-section__content-title {
    font-size: 1.7rem;
  }

  .intro-section__btn {
    font-size: 1rem;
    min-height: 2.5rem;
    padding: 0.5rem 0.8rem;
  }
}
