.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

// .download-section {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   flex-flow: row wrap;
//   border: 1px solid red;
// }

.download-section__img-container {
  position: relative;
  display: flex;
  margin-right: 3rem;
}

// .download-section__gif-container:nth-child(2) {
//   margin: 0 1.5rem;
// }

/*MEDIA QUERIS MAX-WIDTH:576PX  36em*/

@media screen and (max-width: 36em) {
  .download-section__txt-container {
    text-align: center;
    order: -1;
  }
}

@media (min-width: 36em) and (max-width: 59.313em) {
  .download-section__txt-container {
    text-align: center;
    order: -1;
  }
}
