.faq-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.faq-section__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 3rem;
  text-align: center;

  details {
    text-align: left;
    padding: 1rem;
    background-color: #303030;
    margin: 0.5rem;
    width: 50rem;
  }
  details:last-of-type {
    margin-bottom: 0;
  }

  details p {
    padding: 1.2rem 1rem;
    font-size: 1.6rem;
  }

  summary {
    display: block;
  }
}

/*MEDIA QUERIES FOR FAQ SECTION*/

/*MAX-WIDTH = 550x = 34.375em*/

@media (max-width: 35.9em) {
  .faq-section__container .title {
    margin: 1rem 0;
  }

  .faq-section__container details {
    width: 90vw;
    margin: 0.4rem 0;
  }
}

@media (min-width: 36em) and (max-width: 59.313em) {
  .faq-section__container details {
    width: 75vw;

    summary p {
      padding: 1rem 0.8rem;
      font-size: 1.3rem;
    }
  }
}
