.faq-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.faq-section__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 3rem;

  details {
    font-size: 1.6rem;
    display: flex;
    justify-content: flex-start;
    padding: 1rem;
    background-color: #303030;
    margin: 0.5rem;
    width: 50rem;
    position: relative;
  }
  details:last-of-type {
    margin-bottom: 0;
  }

  details p {
    padding: 1.2rem 1rem;
  }

  summary {
    display: block;
    position: relative;
  }
}
