.faq-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.faq-section__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 3rem;

  details {
    // display: flex;
    // justify-content: flex-start;
    padding: 1rem;
    background-color: #303030;
    margin: 0.5rem;
    // min-width: 50rem;
    // position: relative;
  }
  details:last-of-type {
    margin-bottom: 0;
  }

  details p {
    padding: 1.2rem 1rem;
    font-size: 1.6rem;
  }

  summary {
    display: block;
    // position: relative;
  }
}

/*MEDIA QUERIES FOR FAQ SECTION*/

/*MAX-WIDTH = 550x = 34.375em*/

@media (max-width: 34.375em) {
  .faq-section {
    padding: 2rem 0;

    .title {
      margin: 1rem 0;
    }

    button {
      margin: 1rem 0;
    }
  }

  .faq-section__container {
    margin: 0 auto;
    // padding: 0 1rem;
  }

  details {
    min-width: 98vw;
    padding: 0;
  }

  summary {
    padding: 0;
  }

  details p {
    padding: 0;
  }
}
