* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: #000000;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 3.125rem;
  font-weight: 700;
}

h2 {
  font-size: 1.6rem;
  font-weight: 400;
}

h2.title {
  font-size: 3rem;
  font-weight: 700;
}

h3.subtitle {
  font-size: 1.625rem;
  margin: 1.2rem 0;
  font-weight: 400;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  font-weight: 400;
}

button {
  display: inline-block;
  text-transform: uppercase;
  padding: 0.9rem 1.5rem;
  background-color: #e50914;
  color: #ffffff;
  border: none;
  font-size: 1.5rem;
  border-radius: 2px;
  cursor: pointer;
  border: 1px solid #e50914;
}

.btn--white {
  background-color: transparent;
  border: 2px solid #ffffff;
  padding: 0.7rem 1.3rem;
}

section {
  border-bottom: 5px solid #222222;
  padding: 4.375rem 2.5rem;
}

section {
  min-height: 50vh;
}

img {
  max-width: 100%;
  height: auto;
}

main {
  // max-width: 1125px;
  // margin: 0 auto;
}
